.label {
  position: relative;
  border-radius: 12px;
  padding: 5px;
  font-size: 15px;
  background-color: transparent;
  display: inline-flex;
  transition: background-color 0.3s;
}

.input {
  border: 0;
  outline: 0;
  background: none;
  padding: 0;
  line-height: 1;
  width: 0;
  transition: width 0.3s;
  max-width: 210px;
  transform-origin: center right;
  color: var(--color-input-primary);
  font-size: 20px;
  .open & {
    width: 180px;
  }
}

.button {
  background: none;
  border: 0;
  outline: 0;
  padding: 4px;
  left: 19px;
  width: 30px;
  height: 30px;
  margin-right: 4px;
  color: var(--color-input-primary);
  transition: color 0.3s;
  cursor: pointer;

  &:hover {
    color: var(--background-btn-hover);
  }

  .open & {
    color: var(--background-btn-primary);

    &:hover {
      cursor: default;
    }
  }
}

.submitButton {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  overflow: hidden;
  background-color: var(--background-btn-primary);
  transition: all 0.2s linear 0s;
  border-radius: 12px;
  border: none;
  color: var(--color-btn-primary);
  font-family: 'Oswald', sans-serif;
}

.submitButton:hover {
  background-color: var(--background-btn-hover);
  cursor: pointer;
}

.form {
  display: flex;
  align-items: center;
  gap: 10px;
}
