.section {
  padding: 15px 0;
}

.search {
  display: flex;
  justify-content: center;
  background-color: var(--background-search-color);
}

.loadMore,
.loading {
  display: flex;
  justify-content: center;
}
