.image {
  display: block;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--background-btn-primary);
  cursor: pointer;
}

.closeBtn:hover {
  color: var(--background-btn-hover);
}

.description {
  position: absolute;
  padding: 10px;
  background-color: rgba(139, 69, 19, 0.5);
  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  backdrop-filter: blur(5px);
  color: var(--color-btn-primary);
}

.autor {
  position: absolute;
  top: 30px;
  left: 30px;
  color: var(--color-input-primary);
  background-color: rgba(62, 39, 35, 0.5);
  padding: 10px;
}
